/* src/components/ProjectList.css */
*,
html,
body {
    margin: 0;
    padding: 0;

}

.project-list-container {
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.project-list-container::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.project-image {
    /* Removed rounded corners */
}

/* Add to ProjectList.css */
.scrollbar-thin {
    scrollbar-width: thin;
}

.scrollbar-thumb-gray-300::-webkit-scrollbar-thumb {
    background-color: rgb(209, 213, 219);
    border-radius: 9999px;
}

.scrollbar-track-transparent::-webkit-scrollbar-track {
    background-color: transparent;
}

/* For Webkit browsers */
::-webkit-scrollbar {
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(209, 213, 219);
    border-radius: 9999px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}